* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  background-color: #1385f2;
}

.heading-primary {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 4.8rem;
  font-weight: 700;
  font-family: 'Dela Gothic One', cursive;
  letter-spacing: -1px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.6rem;
  max-width: 120rem;
  margin: auto;
  padding: 3.6rem;
}

.winner-text {
  font-size: 2.8rem;
  font-weight: 700;
  color: #020257;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: 54rem;
  width: 63rem;
  background-color: #2222dc;
  border: 10px solid #020257;
  box-sizing: content-box;
}

.restart-btn {
  padding: 1.2rem 6rem;
  background-color: #01012b;
  color: #fff;
  border: 0;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.1s;
  border-radius: 100px;
}

.restart-btn:hover {
  background-color: #101082;
}

.hidden {
  visibility: hidden;
}

.tile {
  height: 8rem;
  width: 8rem;
  margin: 0.5rem;
  background-color: #fff;
  border: 5px solid #020257;
  border-radius: 50%;
  transition: 0.15s;
}

.tile:hover {
  cursor: pointer;
}

.tile.red-piece:hover,
.tile.yellow-piece:hover {
  cursor: default;
}

.red-piece {
  background-color: #f00;
}

.yellow-piece {
  background-color: #ff0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: auto;
  height: 3.2rem;
  background-color: #01012b;
}

.footer p {
  color: #eee;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -0.75px;
}

.github-logo {
  fill: #aaa;
  height: 2rem;
}

.github-logo:hover {
  fill: #eee;
}

@media (max-width: 50em) {
  html {
    font-size: 50%;
  }

  .main {
    gap: 3.4rem;
  }

  .winner-text {
    font-size: 3.8rem;
  }

  .restart-btn {
    margin-top: 1rem;
    padding: 1.6rem 6.4rem;
    font-size: 2rem;
  }

  .footer {
    height: 3.6rem;
  }

  .footer p {
    font-size: 2rem;
  }

  .github-logo {
    height: 2.8rem;
  }
}

@media (max-width: 39em) {
  html {
    font-size: 43%;
  }

  .header {
    height: 12rem;
  }

  .heading-primary {
    font-size: 6rem;
  }

  .main {
    gap: 3.8rem;
  }

  .winner-text {
    font-size: 4.8rem;
  }

  .restart-btn {
    margin-top: 1rem;
    padding: 2rem 8rem;
    font-size: 2.4rem;
  }

  .footer {
    height: 4.2rem;
  }

  .footer p {
    font-size: 2.2rem;
  }

  .github-logo {
    height: 3rem;
  }
}

@media (max-width: 32em) {
  html {
    font-size: 34%;
  }

  .header {
    height: 14rem;
  }

  .heading-primary {
    font-size: 7rem;
  }

  .main {
    gap: 4.8rem;
  }

  .winner-text {
    font-size: 5.8rem;
  }

  .restart-btn {
    margin-top: 5rem;
    padding: 2.6rem 10rem;
    font-size: 2.8rem;
  }

  .footer {
    height: 5rem;
  }

  .footer p {
    font-size: 2.6rem;
  }

  .github-logo {
    height: 3.4rem;
  }
}

@media (max-width: 26em) {
  html {
    font-size: 26%;
  }

  .header {
    height: 16rem;
  }

  .heading-primary {
    font-size: 8rem;
  }

  .main {
    gap: 5.8rem;
  }

  .winner-text {
    font-size: 6.6rem;
  }

  .restart-btn {
    margin-top: 5.8rem;
    padding: 2.8rem 11rem;
    font-size: 3.6rem;
  }

  .footer {
    height: 6rem;
  }

  .footer p {
    font-size: 3rem;
  }

  .github-logo {
    height: 3.8rem;
  }
}
