* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  background-color: #1385f2;
}

.heading-primary {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 4.8rem;
  font-weight: 700;
  font-family: 'Dela Gothic One', cursive;
  letter-spacing: -1px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: 54rem;
  width: 63rem;
  background-color: #2222dc;
  border: 10px solid #020257;
  box-sizing: content-box;
}

.tile {
  height: 8rem;
  width: 8rem;
  margin: 0.5rem;
  background-color: #fff;
  border: 5px solid #020257;
  border-radius: 50%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3.2rem;
  background-color: #01012b;
}

.footer p {
  color: #eee;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -0.75px;
}

.github-logo {
  fill: #aaa;
  height: 2rem;
}

.github-logo:hover {
  fill: #eee;
}
